<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="initial-scale=1.0 width=device-width">
	<title>北京沸腾时光传媒文化有限公司</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/dspweb.css">
	 <style>
      .ms-controller{
          visibility: hidden;
      }
  </style>
</head>
<body>
	<div class="fontwhite">
	  <div class="about-ft about-align">
	    <div class="container">
	      <div class="about-ft1">
	        <h2>关于沸腾时光</h2>
	        <p>沸腾时光传媒是由诗维集团（中国权威策划及文化艺术产品推广团队）独家投资，依托旗下速告网络科技（拥有多项自主知识产权的互联网科技公司）研发成果盛装起航。公司核心的用户服务团队具有丰富的互联网广告市场经验。目前公司旗下设有华北、华南、华东、西南、东北、西北六大运营管理和服务中心。
	        </p>
	      </div>
	    </div>
	  </div>
	  <div class="about-dsp about-align" id="about-dsp">
	    <div class="container">
	      <div class="about-dsp1">
	        <div>
	          <h2>关于维度智慧广告平台</h2>
	          <p>公司主营产品是被誉为“中国第一智慧广告平台”的维度VDO精准广告平台，拥有每秒可处理50万PV量的独家XDB分布式数据库系统。
	该平台独有的“D2D智能匹配引擎技术”和“网民意图数据银行”等多项自有知识产权技术，通过与海量网络广告资源的对接，和国内领先的精准广告技术，致力于以“人”为中心的精准广告投放。</p>
	        </div>
	      </div>
	    </div>
	  </div>
		<div class="about-honor about-align">
	    <div class="container">
	      <div class="about-honor1">
	        <h2>沸腾的荣誉</h2>
	        <table>
	          <tr>
	            <td>影响中国2015年度创新品牌</td>
	            <td>全国最佳策划奖（公益营销类）</td>
	          </tr>
	          <tr>
	            <td>影响中国2015年度品牌创新人物</td>
	            <td>全国十大经典案例策划者</td>
	          </tr>
	          <tr>
	            <td>2015重庆十佳广告技术贡献奖</td>
	            <td>中国最具竞争力策划机构</td>
	          </tr>
	          <tr>
	            <td>中国十年最具影响力策划机构50强</td>
	            <td>中国广告协会专家咨询委员会副主任单位</td>
	          </tr>
	          <tr>
	            <td>中国十大营销策划团队</td>
	            <td>《中国广告案例年鉴》评委单位</td>
	          </tr>
	           <tr>
	            <td>2015年度十大成长力品牌</td>
	            <td>2015年度十大品牌创新人物</td>
	          </tr>
	        </table>
	      </div>
	    </div>
	  </div>
	  <div class="about-culture about-align">
	    <div class="container">
	      <div class="about-culture1">
	        <h2>企业文化</h2>
	        <img src="/public/img/about-culture.png" style="max-width: 100%;">
	      </div>
	    </div>
	  </div>
	  <div class="about-joinus about-align" id="joinus">
	    <div class="container">
	      <div class="about-joinus1">
	        <div class="about-joinus2">
	          <h2>加入我们</h2>
	          <p>创业最需要伙伴  沸腾传媒邀您一道献力中国智慧广告事业发展，</p>
	          <p>共同见证下一轮财富传奇！</p>
	          <p>加入维度智慧广告平台 &nbsp;&nbsp;&nbsp;&nbsp;     一道成长 &nbsp;&nbsp;&nbsp;&nbsp;    一路创富！</p>
	        </div>
	        <div class="about-joinus2-1">
	          <div class="about-joinus3-1 about-joinus3">
	            <h4>招商加盟</h4>
	            <p>维度VDO精准广告平台是沸腾传媒与国际互联网精英跨越合作的结晶，
	根据公司对全国市场的整体规划布局和市场定位，
	以及区域内的市场活跃度确定了一类（一线城市）、二类（省会城市、经济特区、经济强市）、三类（地级市）等三类代理模式，
	在起步阶段尚有近300个区域空白市场，诚邀各界商业精英、强强合作，共同挖掘和分享互联网广告财富金矿。</p>
	            <p>咨询热线：010-65060182</p>
	          </div>
	          <div class="about-joinus3-2 about-joinus3">
	            <h4>代理商洽谈合作流程</h4>
	            <img src="/public/img/about8.png" style="margin-left: 18%;">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	 <footer id="footer">
    <div class="container">
      <div class="main-footer">
         <img src="/public/img/tel-ft.png">
         <h3 class="f_contact">010-65060182</h3>
         
         <p>地址： 中国 北京 北京市朝阳区小庄6号中国第一商城1号楼3201室</p>
         <p>邮编：100022 电子邮箱： 987253425@qq.com</p>
      </div>
    </div>
  </footer>
  <div class="bottom-footer">
     <div class="container">
      <div class="icp">
        <p >北京沸腾时光文化传媒有限公司版权所有 京ICP备16026763号</p>
      </div>
  	</div>
  </div>

</body>
</html>